body {
    margin: 0;
}

h1 {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    display: inline;
}

span {
    background-color: lightblue;
    border: 1px solid black;
    display: block;
}

div {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
}