div {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#static #middle {
    background-color: purple;
}

#relative #middle {
    background-color: purple;
    position: relative;
    top: 100px;
}